body{
	background-color: #ececec;
	font-family: verdana;
	position: relative;
	margin: 0;
}
#navbar{
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 0;
	z-index: 100;
	display: inline-block;
	background-color: darkgrey;
	width: 100%;
	height: 200px;
}
#logo{
	height: 70%;
	left: 50px;
	top: 15%;
	position: relative;
}
#search{
	display: inline-block;
	position: relative;
	left: 40%;
	top: -11%;
}
#input_text{
	line-height: 2em;
	font-size: 2em;
	text-transform: uppercase;
	width: 250px;
}
#input_button{
	line-height: 4em;
	border-radius: 0;
	border: solid 1px darkgrey;
}
#profil{
	position: relative;
	display: block;
	width: 100%;
	height: 300px;
}
#profil_detail{
	width: 40%;
	position: relative;
	display: inline-block;
}
#icon{
	width: 30%;
	border: 4px solid black;
	margin: 50px 10px 0 50px;
	display: inline-block;
}
#info{
	display: inline-block;
	position: relative;
	top: -10px;
}
#pseudo{
	font-size: 3em;
	font-weight: bold;
	display: block;
}
#level{
	color: dimgrey;
	font-style: italic;
	display: block;
}
#winrate{
	display: inline-block;
	position: relative;
	width: 400px;
	top: -70px;
	left: 200px;
	height: 40px;
}
.bordure{
	border: 0px darkred solid;
}
.winrate_bar{
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	height: 100%;
	border: 3px solid black;
}
#win{
	position: relative;
	display: inline-block;
	width: 60%;
	background-color: blue;
	border-right: 0;
}
#loss{
	background-color: red;
	position: relative;
	display: inline-block;
	width: 35%;
}
table{
	margin-top: 20px;
	position: relative;
	left: 15%;
	width: 70%;
	border-collapse: collapse;
}
tr th, tr td{
	border-collapse: collapse;
	text-align: center;
	line-height: 2em;
}
tr:nth-child(even){
	background: #CCC
}
tr:nth-child(odd){
	background: #FFF
}